* {
  font-family: 'Titillium Web', sans-serif;
}

html {
  height: 100%;
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.login-page {
  background-image: url('../images/vecteezy_palm-island-dubai_1906870.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-centered {
  background-color: rgba(194, 247, 247, 0.285);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-around;
  margin-top: 100px;
  align-items: center;
  border-radius: 25px;
  padding-bottom: 15px;
}

.login-button {
  background-color: aqua;
  border-style: none;
  padding: 10px 30px;
  font-weight: bold;
}

.main-dashboard {
  background-image: url('../images/hotel-lobby.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.book-now-nav {
  display: flex;
  flex-direction: column;
}

.search-rooms {
  background-color: black;
  color: white;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  font-size: medium;
}

.search-rooms:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-color: black;
  cursor: pointer;
}

.inputs {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

#roomType,
#searchDate {
  background-color: black;
  color: white;
  font-size: large;
}
 
.right-nav,
.money-spent,
.search {
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
  font-size: large;
}

.login-label,
.login-button {
  margin-top: 20px;
  border-radius: 15px;
}

.login {
  margin: 15px;
}

.login-message {
  color: crimson;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 2px;
}

.login-name {
  font-size: medium;
}

nav {
  background:rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.hidden {
  display: none;
}