* {
  font-family: 'Titillium Web', sans-serif;
}

html {
  height: 100%;
}

body {
  background: rgb(168, 170, 173) 0%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.login-page {
  background-image: url('../images/vecteezy_palm-island-dubai_1906870.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-centered {
  background-color: rgba(194, 247, 247, 0.285);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-around;
  margin-top: 100px;
  align-items: center;
  border-radius: 25px;
  padding-bottom: 15px;
}

.login-button {
  background-color: aqua;
  border-style: none;
  padding: 10px 30px;
  font-weight: bold;
}

.left-nav,
.money-spent,
.search {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-label,
.login-button {
  margin-top: 20px;
  border-radius: 15px;
}

.login {
  margin: 15px;
}

.login-message {
  color: crimson;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.29);
  padding: 5px 10px;
}

.login-name {
  font-size: medium;
}

nav {
  background:rgb(121, 172, 248);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
}

.hidden {
  display: none;
}