* {
  font-family: 'Titillium Web', sans-serif;
}

html {
  height: 100%;
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

p {
  margin: 5px;
}

#userLogo {
  filter: invert(100%);
}

.login-page {
  background-image: url('../images/vecteezy_palm-island-dubai_1906870.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-centered {
  background-color: rgba(194, 247, 247, 0.285);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-around;
  margin-top: 100px;
  align-items: center;
  border-radius: 25px;
  padding-bottom: 15px;
}

.login-button {
  background-color: aqua;
  border-style: solid;
  border-color: aqua;
  padding: 10px 30px;
  font-weight: bold;
}

.login-button:hover {
  cursor: pointer;
  border-color: black;
}

.main-dashboard {
  background-image: url('../images/hotel-lobby.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.booked-rooms {
  float: right;
  text-align: center;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-color: antiquewhite;
}

.searched-rooms {
  float: left;
  text-align: center;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.7);;
  border-style: solid;
  border-color: antiquewhite;
}

.total-spent,
.available-rooms-header {
  margin: 5px;
  color: white;
}

.info {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 50%;
  border-radius: 10px;
}

.booking-message {
  color: white;
  font-size: large;
  text-align: center;
}

.display-results {
  display: flex;
  flex-direction: column;
  float: right;
  align-content: flex-end;
  height: 724px;
  overflow: auto;
}

.available-rooms {
  display: flex;
  justify-content: space-evenly;
  float: left;
  flex-wrap: wrap;
  height: 724px;
  width: 700px;
  overflow: auto;
  color: white;
}

.residential-suite {
  background-image: url('../images/residential-suite.png');
}

.junior-suite {
  background-image: url('../images/junior-suite.png');
}

.suite {
  background-image: url('../images/suite.png');
}

.single-room {
  background-image: url('../images/single-room.png');
}

.residential-suite,
.junior-suite,
.single-room,
.suite {
  background-size: cover;
  width: 320px;
  height: 188px;
  margin: 5px;
  border-radius: 12px;
}

.book-now-nav {
  display: flex;
  flex-direction: column;
}

.search-rooms,
.book-now {
  background-color: black;
  color: white;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  font-size: medium;
}

.search-rooms:hover,
.book-now:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-color: black;
  cursor: pointer;
}

.inputs {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

#roomType,
#searchDate {
  background-color: rgba(255, 255, 255, 0.519);
  color: rgb(0, 0, 0);
  font-size: large;
  border-style: none;
}
 
.right-nav,
.money-spent,
.search {
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
  font-size: large;
}

.login-label,
.login-button {
  margin-top: 20px;
  border-radius: 15px;
}

.login {
  margin: 15px;
}

.login-message {
  color: crimson;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 2px;
}

.login-name {
  font-size: medium;
}

nav {
  background:rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.hidden {
  display: none;
}